

.table-container {
  margin-top: 20px;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

.table-container th, .table-container td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.table-container th {
  background-color: #f9f9f9;
}

.table-container tr:nth-child(even) {
  background-color: #f2f2f2;
}
